/* HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width: 100%;
    height: 75px;
    padding: 1% 25px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.75);
    opacity: 80%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    position: fixed;
	z-index: 10;
}

header a{
    text-decoration: none;
    color: white;
}

#logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: white;
}

.campoHeader{
    padding-top: 10px;
    font-size: 20px;
}

.campoHeader:hover{
    color: yellow;
}
/* HEADER */


body{
    background-color: #333;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    padding-left: 35%;
}

.content .titolo{
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.blog-post {
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    align-items: center;
    width: 50%;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

.blog-post_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding-right: 10%;
}

.modello{
    font-size: 30px;
    text-align: center;
    display: flex;
}

.blog-post_info a{
    margin-top: 10px;
    font-weight: bold;
    box-decoration-break: none;
}


.btn-new-post {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    font-weight: 30;
    bottom: 20px;
    right: 20px;
  }
