@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* HEADER */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

header{
    width: 100%;
    height: 75px;
    padding: 1% 25px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 0, 0, 0.75);
    opacity: 80%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    position: fixed;
	z-index: 10;
}

header a{
    text-decoration: none;
    color: white;
}

#logo{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: white;
}

.campoHeader{
    padding-top: 10px;
    font-size: 20px;
}

.campoHeader:hover{
    color: yellow;
}
/* HEADER */




body{
    line-height: 1.5;
    background-color: #333;
}
.card-wrapper{
    max-width: 1100px;
    margin: 50px auto;
    color: white;
}

h2{
    color: white;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.macchina-content{
    padding: 2rem 1rem;
}
.macchina-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: white;
    margin: 1rem 0;
}
.macchina-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.macchina-rating{
    color: #ffc107;
}
.macchina-rating span{
    font-weight: 600;
    color: white;
}

.macchina-detail h2{
    text-transform: capitalize;
    color: white;
    padding-bottom: 0.6rem;
}
.macchina-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.macchina-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.macchina-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.macchina-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: white;
    text-decoration: none;
    border: 0.5px solid white;
}

.form{
    background-color: #333;
    border-radius: 10px;
    padding: 10px 10px;
    width: 100%;
}

.form input{
    background-color: transparent;
    border: 0.5px solid white;
    height: 20px;
    width: 50%;
    padding: 20px 45px 20px 20px; 
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

.form input::placeholder{
    color: white;
}

.form textarea::placeholder{
    color: white;
}

.form textarea{
    background-color: transparent;
    border: 0.5px solid white;
    height: 80px;
    width: 100%;
    padding: 20px 45px 20px 20px; 
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
}

.form button{
    background-color: transparent;
    border-radius: 5px;
    border: 0.5px solid white;
    margin-top: 10px;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.form span{
    font-size: 20px;
    text-wrap: bold;
    color: white;
}


.review-heading{
    margin-bottom: 20px;
}

.review-list{
    margin-top: 20px;
}

#commenti{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    color: white;
    border: 0.5px solid white;
}

.review-text{
    margin-top: 20px;
}

.log{
    color: red;
    text-decoration: none;
    background-color: transparent;
}

.delete-review{
    background-color: transparent;
    padding: 5px;
}



@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .immagineMacchina{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 0px 120px 0px;
    }

}