
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1{
  font-size: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

rosso{
  color: crimson;
}

#container-macchine{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: auto;
  align-items: center;
}

.anno{
  align-self: flex-start;
  font-size: 45px;
  margin-left: 10%;
}


.macchina{
  padding: 10px;
  position: relative;
  display: inline-block;
  background-color: #ddd;
  padding: 5px;
  height: 200px;
  width: 45%;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top:5px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.container img{
  max-height: 100%;
  margin-left: 0px;
  text-align: left;
  border-radius: 15px;
}

.immagine-macchina{
  width: 190px;
  height: 100%;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  
  
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrAyycPSwfXg-aBgmaoQ8SUwQsywGMBD59kg&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.immagine-macchina:hover{
  transform: scale(1.1);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}

.nome-macchina{
  position: absolute;
  bottom: auto;
  left: 50%;
  font-size: 40px;
}

.descrizione{
  position: absolute;
  font-size: 30px;
  left: 50%;
  bottom: 40%;
}

span.error {
  color: #f00;
  font-size: 14px;
}
