
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;

}

h1{
font-size: 50px;
text-align: center;
margin-top: 0px;
margin-bottom: 0px;
}

#container-macchine{
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 100%;
overflow: auto;
}

anno{
font-size: 45px;
margin-left: 50px;
margin-top: 5px;
}


.macchina{
display: inline-block;
background-color: #ddd;
border: 1px solid blue;
padding: 5px;
height: 200px;
width: 100%;
border-radius: 15px;
box-sizing: border-box;
margin-top:5px;
}

.container img{
max-height: 100%;
margin-left: 0px;
text-align: left;
border-radius: 15px;
border: 1px solid red;
}

.nome-macchina{
margin-bottom: 100px;
margin-left: 100px;
border: 1px solid red;
}

span.error {
  color: #f00;
  font-size: 14px;
}
