<!DOCTYPE html>
<html>
<head>
	<title>
		nuovo post
	</title>
	<link rel="stylesheet" href="/unBottoDiStile/stileCreaPost.css" />
</head>    
    <body>
            <h1>Aggiungi un post</h1>
            <form th:action="@{/salva-dati}" method="POST" th: object="${strategia}">
                <div>
                    <label for="nome">nome:</label> <span><input required type="text" th:field="${strategia.nome}" /></span>
                </div>
        
                <div>
                    <label for="anno">descrizione:</label> <span><input/></span>
                </div>
        
                <div>
                    <label for="nazione">granPremi:</label> <span><input  /></span>
                </div>
              
                <div>
                    <label for="macchina">nome Pilota:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="modello">cognome Pilota:</label> <span><input /></span>
                </div>
              
               <div>
                    <label for="pilota">nazionalita Pilota:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="nomePilota">modello:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="macchina">cognome :</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="macchina">circuito:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="descrizione">data :</label> <span><input /></span>
                </div>
                <div>
                    <div>
                        <label for="descrizione">luogo :</label> <span><input /></span>
                    </div>
                    <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>
        </body>
        
        </html>
    </body>
    
    </html>