<!DOCTYPE html>
<html>
<head>
	<title>
		nuovo post
	</title>
	<link rel="stylesheet" href="/unBottoDiStile/stileCreaPost.css" />
</head>    
    <body>
            <h1>Aggiungi un post</h1>
            <form>
                <div>
                    <label for="nome">nome:</label> <span><input required/></span>
                </div>
        
                <div>
                    <label for="anno">anno:</label> <span><input required /></span>
                </div>
        
                <div>
                    <label for="nazione">nazione:</label> <span><input required /></span>
                </div>
              
                <div>
                    <label for="macchina">macchina:</label> <span><input required /></span>
                </div>
              
               <div>
                    <label for="modello">modello:</label> <span><input /></span>
                </div>
              
               <div>
                    <label for="pilota">pilota:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="nomePilota">nomePilota:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="macchina">cognome :</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="macchina">numero:</label> <span><input  /></span>
                </div>
              
               <div>
                    <label for="descrizione">descrizione :</label> <span><input /></span>
                </div>
                <div>
                    <span><button type="submit">Conferma</button></span>
                </div>
            </form>
        </body>
        
        </html>
    </body>
    
    </html>