<!DOCTYPE html>
<html>
    <head>
        <title>
            nuovo post
        </title>
        <link rel="stylesheet" href="/unBottoDiStile/stileCreaPost.css" />
    </head>    
    <body>
      
      <header>
        <span id="logo">FERRARI MASTER MIND</span>
        <a class="campoHeader" href="/">Home</a>
        <a class="campoHeader" href="/strategie">Post</a>
        <a class="campoHeader" href="/macchine">Macchine</a>
        <a class="campoHeader" th:if="${userDetails}" href="/logout" data-after="esci"
            th:text="${userDetails.username}"></a>
        <a class="campoHeader" th:unless="${userDetails}" href="/registrazioneAccedi" data-after="registrazioneAccedi">Accedi</a>
    </header>

    <p><br></p>
      
    <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
 
  <!-- End Hero Section  -->
  
  <form th:action="@{/macchinaForm}" method="POST" enctype="multipart/form-data" th:object="${macchina}"   class="form-post" >
              <h1 id="aggiungi-post"> <span class=rosso>A</span>GGIUNGI UNA <span class=rosso>MACC</span>HINA</h1>
              <div th:if="${#fields.hasGlobalErrors()}">
                <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
              </div>

              <div class="form-field">
                <span><input type="text" th:field="${macchina.modello}"  placeholder="Modello"></span>
                <span th:if="${#fields.hasErrors('modello')}" th:errors="*{modello}"></span>
                </span>
              </div> 
          
              <div class="form-field">
                <span><input type="text" th:field="${macchina.anno}" placeholder="Anno"/></span>
                <span th:if="${#fields.hasErrors('anno')}" th:errors="*{anno}"></span>
                  </span>
                <span><input required type="file" name="file"></span>
                </div>
                <div>
                <span><button type="submit" >Conferma</button></span>
                </div>
            </form>
          </section>        
    </body>
</html>