<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stile.css">
    <title>Ferrari MasterPlan</title>
</head>
<body>
    <!-- Hero section!-->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Ferrari <span></span> </h1>
                <h1>Master Mind<span></span></h1>
                <a href="www.instagram.com/scuderiaferrari" type="button" class="cta">Segui il circo</a>
            </div>
        </div>
    </section>
    <!--fine-->

    <!-- post ultimi section dove compaiono gli ultimi 4 post publicati-->
    <section id="postUltimi">
        <div class="post container">
            <div class="post-top">
                <h1 class="section-title">P<span>o</span>st</h1>
                <p>Ultimi post publicati dagli utenti </p>
                </div>
                <div class="post-bottom">
                    <div class="post-item">
                        <div class="iconaProfiloUtente"><img src="http://img.icons8.com/bubbles/100/000000/services.png"/></div> <!-- immagine del utente-->
                        <h2>nomeUtente1</h2>
                        <p>post1</p>
                    </div>
                    <div class="post-item">
                        <div class="iconaProfiloUtente"><img src="http://img.icons8.com/bubbles/100/000000/services.png"/></div> <!-- immagine del utente-->
                        <h2>nomeUtente2</h2>
                        <p>post2</p>
                    </div>
                    <div class="post-item">
                        <div class="iconaProfiloUtente"><img src="http://img.icons8.com/bubbles/100/000000/services.png"/></div> <!-- immagine del utente-->
                        <h2>nomeUtente3</h2>
                        <p>post3</p>
                    </div>
                    <div class="post-item">
                        <div class="iconaProfiloUtente"><img src="http://img.icons8.com/bubbles/100/000000/services.png"/></div> <!-- immagine del utente-->
                        <h2>nomeUtente4</h2>>
                        <p>post4</p>
                    </div>
                </div>
            </div>
    </section>
    <!-- fine post section-->


    <!--Sezione per le macchine-->              <!--macchine piu vole presenti con le strategia di merda verranno mostrate le prime 4 -->
    <section id="macchines">
        <div class="macchineContainer">
            <div class="macchine-header">
                <h1 class="section-title">Macchine <span>Fallimentari</span></h1>
            </div>
            <div class="macchine-all">
                <div class="macchine-item">
                    <div class="macchine-info">
                        <h1>Nome Macchina1</h1>
                        <h2>anno</h2>
                        <p>Descrizione da inserire</p>
                    </div>
                    <div class="macchine-img">
                        <img src="test.jpg" alt="img">
                    </div>
                </div>
                <div class="macchine-item">
                    <div class="macchine-info">
                        <h1>Nome Macchina2</h1>
                        <h2>anno</h2>
                        <p>Descrizione da inserire</p>
                    </div>
                    <div class="macchine-img">
                        <img src="test.jpg" alt="img">
                    </div>
                </div>
                <div class="macchine-item">
                    <div class="macchine-info">
                        <h1>Nome Macchina3</h1>
                        <h2>anno</h2>
                        <p>Descrizione da inserire</p>
                    </div>
                    <div class="macchine-img">
                        <img src="test.jpg"alt="img">
                    </div>
                </div>
                <div class="macchine-item">
                    <div class="macchine-info">
                        <h1>Nome Macchina4</h1>
                        <h2>anno</h2>
                        <p>Descrizione da inserire</p>
                    </div>
                    <div class="macchine-img">
                        <img src="test.jpg">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END-->
</body>
</html>