<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/unBottoDiStile/stile.css">
  <title>Ferrari MasterMind</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>F</span>err<span>a</span>ri</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
            <li><a href="#post" data-after="post">Post</a></li>
            <li><a href="#macchineFallimentari" data-after="macchineFallimentari">MAcchine</a></li>
            <li><a href="/registrazioneAccedi" data-after="registrazioneAccedi">Accedi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->

  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Ferrari <span></span></h1>
        <h1>MasterMind <span></span></h1>
        <a href="www.google.com" type="button" class="cta">Segui il circo</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

<!-- sezione Post-->
<section id="post">
  <div class="post container"> 
    <div class="sezioneSopraPost">

      <a href="/post" button class="btn-post"> <h1 class="section-title">P<span>o</span>st</h1> </button> </a>

      <p>Ultimi 4 post pupubblicati dagli utenti</p>
    </div>
    <div class="spazioTuttiPost"> 
      <div class="PostSingolo">
        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div> <!--icona profilo 1-->
        <h2>NomeUtente1</h2>
        <p>stategia1</p>
      </div>
      <div class="PostSingolo">
        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
        <h2>NomeUtente2</h2>
        <p>strategia2</p>
      </div>
      <div class="PostSingolo">
        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
        <h2>NomeUtente3</h2>
        <p>strategia3</p>
      </div>
      <div class="PostSingolo">
        <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
        <h2>NomeUtente4</h2>
        <p>strategia4</p>
      </div>
    </div>
  </div>
</section>
<!-- Fine sezione post -->


  <!-- macchineFallimentari Section -->
  <section id="macchineFallimentari">
    <div class="macchineFallimentari container">
      <div class="macchineFallimentari-header">
        <a href="/macchine" button class="btn-strategie"> <h1 class="section-title">Strategie <span>Fallimentari</span></h1> </button>  </a>
      </div>
      <div class="all-macchineFallimentari">
        <div class="ContenitoreMacchinaDescrzioneSingola">   
          <div class="descrizioneDellaMacchina">  
            <h1>Macchina Con Piu insulti1</h1>
            <h2>Anno</h2>
            <p>Descrizione</p>
          </div>
          <div class="ImgDellaMacchina">    
            <img src="/img/testMacchine.jpg" alt="img">
          </div>
        </div>
        <div class="ContenitoreMacchinaDescrzioneSingola">
          <div class="descrizioneDellaMacchina">
            <h1>Macchina Con Piu insulti2</h1>
            <h2>Anno</h2>
            <p>Descrizione</p>
          </div>
          <div class="ImgDellaMacchina">
            <img src="/img/testMacchine.jpg" alt="img">
          </div>
        </div>
        <div class="ContenitoreMacchinaDescrzioneSingola">
          <div class="descrizioneDellaMacchina">
            <h1>Macchina Con Piu insulti3</h1>
            <h2>Anno</h2>
            <p>Descrizione</p>
          </div>
          <div class="ImgDellaMacchina">
            <img src="/img/testMacchine.jpg" alt="img">
          </div>
        </div>
        <div class="ContenitoreMacchinaDescrzioneSingola">
          <div class="descrizioneDellaMacchina">
            <h1>Macchina Con Piu insulti4</h1>
            <h2>Anno</h2>
            <p>Descrizione</p>
          </div>
          <div class="ImgDellaMacchina">
            <img src="/img/testMacchine.jpg" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End macchineFallimentari Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>T</span>ony <span>T</span>roy</h1>
      </div>
      <h2>sometimes you just have to like the stamp and send it</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
        </div>
      </div>
      <p>tu tu tu tu tu tu </p>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>