<!DOCTYPE html>
<html>
  <body>
    <link rel="stylesheet" href="/unBottoDiStile/stileMacchine.css" />
    <!-- Hero Section  -->
  <section id="hero">
    <h1>MACCHINE</h1>
    <div class="container">
      <div id="container-macchine">
        <anno class="anno">2000</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">F1 2000</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
      
        <anno class="anno">2001</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">Nome</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
      
        <anno class="anno">2002</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">Nome</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
      
        <anno class="anno">2003</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">Nome</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
      
        <anno class="anno">2004</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">Nome</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
          
        <anno class="anno">2005</anno>
        <a class="macchina">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtxP5I41xrSrv4_-F07-zWOVL_y3YDcYrhZw&usqp=CAU"></img>
          <span class="nome-macchina">Nome</span>
          <span class="descrizione">Pilota1 Pilota2</span>
        </a>
          
      </div>
    </div>      
   </section>        
    </body>
</html>