<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti Post</title>
    <link rel="stylesheet" href="/unBottoDiStile/stilePost.css">
</head>

<body>
    
  <div  class="container">
      <h2>Post</h2>

      <div th:each="macchina : ${macchine}" class="blog-post"  >
          <div class="blog-post_img">;
          <img th:src="@{'/display/image/' + ${macchina.immagineMaccchina.id}}"  
                  alt="">
          </div>
          <div class="blog-post_info">  
              <div class="blog-post_date"> 
                  <span th:text="${macchina.modello}"></span>
                  <span th:text="${macchina.anno}"></span>
              </div>
              
          </div>
      </div>
  </div>
  <a href="/creaMacchina" button class="btn-new-post"> <h1 class="section-title">+</h1> </button> </a>
</body>


</html>
        