<!DOCTYPE html>
<html>
    <body>
        <link rel="stylesheet" href="/unBottoDiStile/stileMacchinaDettaglio.css" />
        <!-- Hero Section  -->
        <section id="post-section">
            <h1>nome macchina</h1>
            <div class="container-post">
                <div class="post">
                    <span class="autore">TROYLION56</span>
                    <span class="pilota">fra martino</span>
                    <span class="descrizione">la strategia era buona, peccato per il pilota inutile
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </span>
                </div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
                <div class="post"><span>testo</span></div>
                
            </div>      
        </section>        
    </body>
</html>