<!DOCTYPE html>
<html>
  <body>
    <link rel="stylesheet" href="/unBottoDiStile/stileMacchine.css" />
    <!-- Hero Section  -->
  <section id="hero">
    <h1><rosso>M</rosso>ACCHINE</h1>
    <div class="container">
      <div id="container-macchine">
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2000</span>
          <span class="descrizione">F1 2000</span>
        </a>
      
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2001</span>
          <span class="descrizione">F2001</span>
        </a>
      
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2002</span>
          <span class="descrizione">F2002</span>
        </a>
      
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2003</span>
          <span class="descrizione">F2003-GA</span>
        </a>
      
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2004</span>
          <span class="descrizione">F2004</span>
        </a>
          
        <a class="macchina">
          <button class="immagine-macchina" type="button"></button>
          <span class="nome-macchina">2005</span>
          <span class="descrizione">F2005</span>
        </a>
          
      </div>
    </div>      
   </section>        
    </body>
</html>