<html lang="en">

<head>
    <title>Dettaglio Macchina</title>
    <link rel="stylesheet" href="/unBottoDiStile/stileMacchinaDettaglio.css" />
</head>

<body>
    <h1>Dettagli Macchina</h1>
    <div class="container">
        <div class="movie-details">
            <span class="modello" th:text="${macchina.modello}"></span>
            <span class="anno" th:text="${macchina.anno}"></span>
            <img class="macchina-image" th:src="@{'/display/image/' + ${macchina.immagineMaccchina.id}}" />
        </div>
    </div>
</body>

</html>