<html>
    <!DOCTYPE html>
<html lang="en">

<head>
    <title>dettaglio Macchina</title>
</head>

    <body>
        <h1>Dettagli MAcchina</h1>
        <div class="container">
        <div class="movie-details" th:if="${macchina}">
            <span class="stategia-title" th:text="${macchina.modello}"></span>
            <span class="stategia-circuito" th:text="${macchina.anno}"></span>
            <span> <img th:src="@{'/display/image/' + ${macchina.immagineMaccchina.id}}"></span>
        </div>
      </div>   
    </body>
</html>
