<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti Post</title>
    <link rel="stylesheet" href="/unBottoDiStile/stilePost.css">
</head>

<body>
    <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contatti</a></li>
        </ul>
      </nav>

    <div class="container">
        <h2>Post</h2>
        <div class="blog-post">
            <div class="blog-post_img">
                <img src="/img/testMacchine.jpg"
                    alt="">
            </div>
            <div class="blog-post_info">
                <div class="blog-post_date">
                    <span>NomeTipo</span>
                    <span>Data pub</span>
                </div>
                <h1 class="blog-post_title">Gara</h1>
                <p class="blog-post_text">
                    Descrizione </p>
                <a href="#" class="blog-post_cta">Di piu</a>
            </div>
        </div>

        <div class="blog-post">
            <div class="blog-post_img">
                <img src="/img/testMacchine.jpg"
                    alt="">
            </div>
            <div class="blog-post_info">
                <div class="blog-post_date">
                    <span>nomeTipo</span>
                    <span>Data pub</span>
                </div>
                <h1 class="blog-post_title">Gara</h1>
                <p class="blog-post_text">
                    Descrizionessssssssssssssssssssssssssssssss
                </p>
                <a href="#" class="blog-post_cta">Di piu</a>
            </div>
        </div>

    </div>
    <div class="but">
        <a href="/creaPost" class="btn">button</a>
        </div>
</body>

</html>
        