<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti Post</title>
    <link rel="stylesheet" href="/unBottoDiStile/stilePost.css">
</head>

<body>
    <header>
        <span id="logo">FERRARI MASTER MIND</span>
        <a class="campoHeader" href="/">Home</a>
        <a class="campoHeader" href="/strategie">Post</a>
        <a class="campoHeader" href="/macchine">Macchine</a>
        <a class="campoHeader" th:if="${userDetails}" href="/logout" data-after="esci" th:text="${userDetails.username}"></a>
        <a class="campoHeader" th:unless="${userDetails}" href="/registrazioneAccedi" data-after="registrazioneAccedi">Accedi</a>
      </header>

      <p><br></p>

    <div class="content">
        <h2>POST</h2>
        <div  class="container">
    
            <div th:each="strategia : ${strategie}" class="blog-post"  >

                <div class="blog-post_img">
                    <img th:src="@{'/display/image/' + ${strategia.image.id}}"alt="">
                </div>

                <div class="blog-post_info"> 
                    <div class="blog-post_date">
                        <div class="titolo">
                            <span>Titolo: </span>
                            <span th:text="${strategia.nome}"></span>
                        </div>
                        <div class="circuito">
                            <span>Circuito: </span>
                            <span th:text="${strategia.circuito} "></span>
                        </div>
                    </div>
                    
                </div>
                <div class="pulsante">
                    <a th:href="@{'/stategia' + '/' + ${strategia.id}}"  class="blog-post_cta">Di piu</a>    
                </div>
                </div>
           </div>
        </div>
        
        <a href="/creaStrategia" button class="btn-new-post"> <h1 class="section-title">+</h1> </button> </a>
    </div>
</body>

</html>
        