<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutti Post</title>
    <link rel="stylesheet" href="/unBottoDiStile/stilePost.css">
</head>

<body>
    
    <div  class="container">
        <h2>Post</h2>

        <div th:each="stategia : ${strategie}" class="blog-post"  >
            <div class="blog-post_img">
                <img th:src="@{'/display/image/' + ${stategia.image.id}}"
                    alt="">
            </div>
            <div class="blog-post_info"> 
                <div class="blog-post_date">
                    <span th:text="${stategia.nome}"></span>
                    <span th:text="${stategia.circuito} "></span>
                </div>
                <h1 class="blog-post_title">Gara</h1>
                <p class="blog-post_text">
                    Descrizione </p>
                <a th:href="@{'/stategia' + '/' + ${stategia.id}}"  class="blog-post_cta">Di piu</a>        <!--per ora porta a prova-->
                </div>
            </div>
        
       </div>
    </div>
    <a href="/creaStrategia" button class="btn-new-post"> <h1 class="section-title">+</h1> </button> </a>
</body>

</html>
        