<HTML>
    <HEAD>
       <TITLE>Esempio 2</TITLE>
    </HEAD>
    <BODY BACKGROUND="titto_green_paper.jpg">
    
    <CENTER><H1>Le figure in HTML</H1></CENTER>
    <FONT SIZE=+1>
    
    <IMG SRC="arale.gif"> dimensioni naturali (lo sfondo è trasparente)
    <HR WIDTH="100%">
    
    questa figura è
    <IMG SRC="arale.gif" BORDER=3 HEIGHT=100 WIDTH=91>
    scalata e con cornice
    <HR WIDTH="100%">
    
    questa figura &egrave;
    <IMG SRC="arale.gif" HEIGHT=100 WIDTH=91 ALIGN=TEXTTOP>
    allineata in alto sulla sua riga
    <HR WIDTH="100%">
    
    questa figura &egrave;
    <IMG SRC="arale.gif" BORDER=0 HEIGHT=100 WIDTH=91 ALIGN=ABSCENTER>
    centrata verticalmente rispetto alla sua riga
    <BR>sono andato a capo
    <HR WIDTH="100%">
    
    <IMG SRC="arale.gif" BORDER=0 HEIGHT=100 WIDTH=91 ALIGN=LEFT>
    questa figura rimane a sinistra del testo
    <BR>testo testo testo testo <BR>testo testo testo testo
    <BR>testo testo testo testo <BR>testo testo testo testo
    <BR>testo testo testo testo <BR>testo testo testo testo
    <BR>testo testo testo testo 
    <HR WIDTH="100%">
    
    </FONT>
    
    </BODY>
    </HTML>