<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/unBottoDiStile/stileRegistrazioneAccedi.css">
  <title>Accedi</title>
</head>

<body>

  <!--continuo-->
  <div class="hero">
    <div class="form-box">
      <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">Accedi</button>
          <button type="button" class="toggle-btn" onclick="Registrazione()">Registrati</button>
      </div>
      <div class="social-icons">
        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
        <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" /></a>
      </div>

      
      <form   th:action="@{/login}" method="post" id="login" class="input-group" >
        <input type="text" name="username" class="input-field" placeholder="username" required>
        <input type="password" name="password" class="input-field" placeholder="Password" required>
        <input type="checkbox" class="check-box"><span>Ricorda paswword</span>
        <button type="submit" class="submit-btn">Accedi</button>
      </form>


      <form th:action="@{/register}" method="post" id="Registrazione" class="input-group">
        <!--input email-->
        <input type="email" class="input-field" placeholder="Email" required th:field="${user.email}" />
        <span th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>

        <!--input username  -->
        <input type="text" class="input-field" placeholder="Username" required th:field="${credentials.username}"/>
        <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"th:style="'color:red'"></span>

        <!--input password-->
        <input type="password" class="input-field" placeholder="Password" required th:field="${credentials.password}"/>
        <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"th:style="'color:red'"></span>

        <input type="checkbox" class="check-box"><span>Accetto i termi e condizioni</span>
        <button type="submit" class="submit-btn">Registrati</button>
      </form>
    </div>
  </div>

  <script>
    var x= document.getElementById("login");
    var y= document.getElementById("Registrazione");
    var z= document.getElementById("btn");

    function Registrazione(){
      x.style.left="-400px";
      y.style.left="50px";
      z.style.left="110px";

    }

    function login(){
      x.style.left="50px";
      y.style.left="450px";
      z.style.left="0px";

    }

  </script>
</body>
</html>