<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/unBottoDiStile/stileLogin.css">
        <title>Autenticati</title>
    </head>

    <body>
      <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/index">
            <h1><span>F</span>err<span>a</span>ri</h1>
          </a>
        </div>
        </div>
    </div>
  </section>
  <!-- End Header -->
  
    <!--pannello-->
    <section id="boxAccedi">
      <div class="box">
        <form>
          <h2> Accedi</h2>
          <div class="inputBox">
            <input type="text" required="required">
            <span>Nome Utente</span>
            <i></i>
          </div>
          <div class="inputBox">
            <input type="text" required="required">
            <span>Password</span>
            <i></i>
          </div>
          <div class="links">
            <a href="#">Password dimenticata</a>
            <a href="#">registrati</a>
          </div>
          <input type="submit" value="Accedi">
        </form>
      </div>
    </section>

  </body>
</html>