<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/unBottoDiStile/stileLogin.css">
        <title>Autenticati</title>
    </head>

    <section id="header">
        <div class="header container">
          <div class="nav-bar">
            <div class="brand">
              <a href="#hero">
                <h1><span>F</span>err<span>a</span>ri</h1>
              </a>
            </div>
            <div class="nav-list">
              <div class="hamburger">
                <div class="bar"></div>
              </div>
              <ul>
                <li><a href="#hero" data-after="Home">Home</a></li>
                <li><a href="#post" data-after="post">Post</a></li>
                <li><a href="#macchineFallimentari" data-after="macchineFallimentari">MAcchine</a></li>
                <li><a href="/registrazioneAccedi" data-after="registrazioneAccedi">Accedi</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>


</html>