<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Strategia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/unBottoDiStile/stileStrategia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
    <div class = "card-wrapper" th:if="${strategia}">
      <div class = "card">
        <!-- card left -->
        <div class = "immagineMacchina"> 
          <div class = "img-display">
            <div class = "img-showcase">
              <img th:src="@{'/display/image/' + ${strategia.image.id}}" alt = "shoe image">
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "macchina-content">
          <h2 class = "macchina-title"   th:text="${strategia.nome}"></h2>
          <div class = "macchina-rating">
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star"></i>
            <i class = "fas fa-star-half-alt"></i>
            <span>4.7(21)</span>
          </div>

          <div class = "macchina-detail">
            <h2 th:text="${strategia.circuito}"></h2>
            <p th:text="${strategia.descrizione}"></p>
            <ul th:if="${strategia.macchina}">
              <li>modello macchina: <span th:text="${strategia.macchina.modello}"></span></li>
              <li>anno macchina: <span th:text="${strategia.macchina.anno}"></span></li>
            </ul>

            <div class = "purchase-info" th:unless="${strategia.macchina}">
              <a class = "btn" th:href="@{'/addMacchina/' + ${strategia.id}}">aggiungi</a>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>