<!DOCTYPE html>
<html>

<head>
	<title>Scelta regista</title>
	<link rel="stylesheet" href="/css/admin/directorsToAdd.css" />
</head>

<body>
    <div class="container">
        <div th:if="${macchine.isEmpty()}" class="empty-message">Non ci sono macchine</div>
        <ul class="macchine-list">
          <li th:each="macchina : ${macchine}" class="macchina-item">
            <a th:href="@{'/setMacchinaToStrategia/'+ ${macchina.id}+'/'+${strategia.id}}" class="macchina-name" th:text="${macchina.modello}">Mio padre</a>
          </li>
        </ul>
      </div>
      
</body>  